<ul class="week-strip__resources">
  <li><a href="assets/weeks/week2/rubric.pdf">Grading Rubric</a></li>
  <li><a href="assets/weeks/week2/week2recap.html">Week 2 Recap</a></li>
  <li><a href="https://youtu.be/FqTvcZ017BU">Review Session - Runtime Analysis</a></li>
  <li><a href="assets/weeks/week2/practice%20probs/review2.pdf">Review Session - PDF</a></li>
  <li><a href="assets/weeks/week2/bigOh.jpg">Big-O Reference Chart</a></li>
  <li><a href="assets/weeks/week2/nudge/TaskList.h">hwNudge: TaskList.h</a></li>
  <li><a href="assets/weeks/week2/nudge/TaskList.cpp">hwNudge: TaskList.cpp</a></li>
</ul>
